[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-summernote = "*"
django-cors-headers = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
django-heroku = "*"
dj-database-url = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
social-auth-app-django = "*"
django-tinymce = "*"
django-quill = "*"

[dev-packages]

[requires]
python_version = "3.8"
